$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$background-gray: #faf9fa;
$purple-main: #4b367c;
$background-dark-purple: #19171c;
// $background-purple-hover
$button-purple: #6441a4;
$border-purple: #7d5bbe;
// rgb(177, 157, 216)
$nav-bar-text: #8779aa;
$maybe-sidebar: #17141F;
