/* Define application-wide selectors here!*/
@import "fonts";
@import "colors";
html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $blue;
	color: #fff;
	font-weight: 700;
	padding: 8px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}

button:hover {
	background-color: $blue;
	border-color: $dark-blue;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}
/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hidden {
	display: none;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	margin-top: 24px;
	height: 2px;
	margin-bottom: 1px;
}
