.game-collection-controls {
  display: flex; display: -webkit-flex;
  margin-top: 20px;
  // flex-direction: column;
  // margin-right: 40px;

}

.game-collection-controls
.edit-collection.btn,
.delete-collection.btn,
.collection-edit-submit.btn  {
  font-size: 14px;

}

.collection-edit {
  border: 1px solid $border-purple;
  padding: 5px;
  height: 40px;
  margin-left: -6px;
  margin-top: -10px;
  color: $purple-main;
  // box-sizing: border-box;
}

.collection-edit-submit.btn {
  margin-top: 16px;
  margin-left: -162px;

}

.default.collection-edit-submit.btn {
  margin-top: 20px;
  width: 50px;
  margin-left: 0px;

}
