.game-index-container {
  padding: 30px;
  width: 100%;


  // background: $background-gray;
  // background: white;

}

.game-index-title {
  display: flex;
}

.game-index-header .index-user {
  text-transform: capitalize;
  margin-right: 5px;
  height: 40px;
}

.game-index-header .index-user:hover {
  color: $button-purple;
}

.game-index-header .pointer {
  color: $button-purple;
  margin-right: 5px;

}

.game-index-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 28px;
  border-bottom: 1px solid $button-purple;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #19171c;
  width: calc(100% - 40px);
}

.game-show-link:hover {
  .game-title-container {
    color: $border-purple;

  }
}

.game-index-container .game-list-item {
  width: 240px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  // padding: 10px 5px;
  // padding: 20px 10px;
  padding-bottom: 10px;

}

.game-index-container .collection-button {
  width: calc(100% - 10px);
  margin: 0 5px;
}


.game-index-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;

}


.game-title-container {
  line-height: 1;
  height: 40px;
  padding: 0 10px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #19171c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-index-list .game-index-item .review_button {
  display: flex;
  background: black;
}

.rating-text {
  // background: black;
}
.game-index-list .game-index-item .review_button .rating-stars {
  display: flex;
  background: black;
}
