.game-index-container {
  padding: 30px;
  width: 100%;
  top: 50px;
  margin-top: 50px;
  // background: $background-gray;
  // background: white;

}

.game-index-header {
  font-size: 28px;
  border-bottom: 1px solid $button-purple;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #19171c;
}

.game-show-link:hover {
  .game-title-container {
    color: $border-purple;

  }
}

.game-index-container .game-list-item {
  width: 240px;
  margin-bottom: 20px;
  margin-right: 10px;
  background: white;
  // box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.4);
  padding: 20px 10px;

}

.game-index-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;

}


.game-title-container {
  line-height: 1;
  height: 40px;
  padding: 0 10px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #19171c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-index-list .game-index-item .review_button {
  display: flex;
  background: black;
}

.rating-text {
  // background: black;
}
.game-index-list .game-index-item .review_button .rating-stars {
  display: flex;
  background: black;
}
