.game-show-container {
  width: 765px;
  // display: flex;
  padding: 30px;
  height: 100%;
  overflow: visible;

}

.game-show-container .game-cover-art {
  width: 240px;
  height: 320px;

}

.game-info-container {
  display: flex;
  background: #fff;
  padding: 20px;
  width: 725px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  margin-bottom: 30px;
}

.collection-button {
  margin-top: 5px;
  // border: 1px solid black;
  width: calc(100%);
  height: 40px;
  background: $button-purple;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  // margin: 0 5px;

}
.default-collection-button:hover {
  cursor: pointer;
}


.default-collection-button {
  // border: 1px solid black;
  width: 80%;
  box-sizing: border-box;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid black;
  position: relative;
}

.default-collection-button:hover {
  background: $border-purple;
}

.dropdown-button {
  // border-left: 1px solid black;
  width: 20%;
  height: 40px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-radius: 0 5px 5px 0;

}
.dropdown-button:hover {
  background: $border-purple;
}

.default-collection-button.red {
  border-top: 1px solid $border-purple;
  border-left: 1px solid $border-purple;
  border-bottom: 1px solid $border-purple;
  border-right: none;


  color: $purple-main;
  background: $background-gray;
}

.dropdown-button.red {
  border: 1px solid $border-purple;

  color: $purple-main;
  background: $background-gray;
}

.default-collection-button.red:hover {
  background: #eee;
}

.dropdown-button.red:hover {
  background: #eee;

}
.collection-button-dropdown {
  position: absolute;
  background: #fff;
  width: 78%;
  top: 40px;
  left: 5px;
  transition: height .1s ease-in, padding .1s ease-in;
  padding: 10px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  box-sizing: border-box;
  z-index: 100;

  // height: 200px;
  li {
    background: #fff;

    margin-top: 10px;
    height: 30px;
    transition: height .1s ease-in, padding .1s ease-in;
    // transition-delay: .1s;
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    font-size: 14px;
  }
  span {
    transition: height .1s ease-in, padding .1s ease-in, color .1s ease-in;
    // transition-delay: .2s;
    // color: inherit;
  }
}

.collection-button-dropdown span:nth-child(2) {
  word-wrap: break-word;
  // background: black;
  margin: auto auto;
  max-height: 30px;

  text-align: center;


}

.collection-button-dropdown span.collection-form-toggle {
  width: 20px;
  height: 20px;
  font-size: 20px;
  min-width: 20px;
}

.collection-button-dropdown.hidden {
  height: 0px;
  overflow: hidden;
  padding: 0px;
  box-shadow: none;
  // z-index: 10;
  // transition-delay: .2s;

  li {
    height: 0px;
    // transition-delay: .1s;

  }
  span {
    height: 0px;
    overflow: hidden;
    color: #fff;

  }
}

//CSS triangle taken from CSS Tricks
.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 12px solid #fff;
}

.arrow-down.red {
  border-top: 12px solid $button-purple;
}

.selected-collection-button {
  border: 1px solid $button-purple;
  background-color: $background-gray;
  width: 80%;
  box-sizing: border-box;
  height: 40px;
  color: $purple-main;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px 0 0 5px;

  position: relative;
}

.selected-collection-button:hover {
  cursor: pointer;
}

.rating-button {
  color: #19171c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid #19171c;
  height: 50px;
}

.rating-text {
  color: #19171c;
  font-size: 16px;
}
.rating-stars {
  margin: 0 auto;

  display: flex;
  cursor: pointer;

}

.rating-stars .star {
  color: #19171c;
  font-size: 18px;
  padding: 4px 4px;
}
.rating-stars .star i {
  color: $button-purple;
}


.game-info-header {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  // margin-bottom: 10px;
}

.developer-container {
  margin-bottom: 5px;
  font-size: 14px;
}
.score-stars {
  display: flex;
}

.score-stars .star {

  margin-right: 2px;
}

.score-stars .star i {
  color: $button-purple;
}

.score-stars .score {
  margin-left: 8px;
  margin-bottom: 20px;
}

.game-show-container .game-title {
  font-size: 36px;
  color: #19171c;
  font-weight: 700;
}

.stats {
  display: flex;
}
.stats-top-row {
  margin-right: 20px;
}

.platform-badges {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

}

.platform-badges label {
  font-size: 14px;
  // margin-bottom: 20px;
}

.genre-list {
  margin-bottom: 10px;
}

.platform-badge {
  width: 25px;
  height: 20px;
  color: #fff;
  background: $button-purple;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.release_date {
  margin-top: 10px;
  font-size: 14px;
}

.game-description {
  border-top: 1px solid $button-purple;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $button-purple;

  color: #19171c;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 20px;
  // padding-right: 20px;
  margin-bottom: 20px;

  .game-label {
    font-size: 16px;
  }

}

.game-label {
  font-size: 14px;
  font-weight: 700;
  color: #19171c;
}

.amazon-button {
  border-color: #a88734 #9c7e31 #846a29;
  border: 1px solid;
  background: #f1c860;
  // background: $button-purple;
  // padding: 10px 5px;
  border-radius: 5px;
  color: #333;
  display: block;
  width: 90px;
  margin: 0 auto;
}

.placeholder-text {
  font-size: 14px;
}
