.game-index-container {
  padding: 30px;
  width: 100%;
  box-sizing: border-box;

  // background: $background-gray;
  // background: white;

}

.index-spinner {
  margin: 200px auto;
  width: 200px;
  height: 200px;
}

.index-spinner div {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.game-index-title {
  display: flex; display: -webkit-flex;
  // align-items: center;
}

.game-index-header .index-user {
  text-transform: capitalize;
  margin-right: 5px;
  height: 40px;
  font-weight: 700;
}

.collection-edit-submit.btn {
  font-weight: 400;
}

.game-index-header .index-user:hover {
  color: $button-purple;
}

.game-index-header .pointer {
  color: $button-purple;
  margin-right: 5px;

}

.game-index-header {
  display: flex; display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 28px;
  border-bottom: 1px solid $button-purple;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #19171c;
  width: calc(100% - 40px);
}

.game-show-link {
  display: block;

}

.game-show-link:hover {
  .game-title-container {
    color: $border-purple;

  }
}

.game-index-container .game-list-item {
  width: 240px;

  margin-bottom: 20px;
  margin-right: 20px;
  background: white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  // padding: 10px 5px;
  // padding: 20px 10px;
  padding-bottom: 10px;
  transition: transform .2s, box-shadow .2s;
  position: relative;

  // z-index: 1;

}



.game-index-container .game-list-item .game-title-container {
  // position: absolute;
  // top: 320px;
  // left: 0;
  // right: 0;
}

@media screen and (max-width: 650px) {
  .game-index-container .game-list-item .game-title-container {

    // top: 38vw;
  }
}

.game-index-container .game-list-item:hover, .dropdown-open {
  transform: scale(1.02);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.08);
  position: relative;
  .collection-button-dropdown {
    z-index: 20;
  }
}

.dropdown-open {
  z-index: 2;
}

.game-index-container .collection-button {
  width: calc(100% - 10px);
  margin: 0 5px;
}


.game-index-list {
  display: flex; display: -webkit-flex;
  flex-wrap: wrap;
  padding-bottom: 100px;

}


.game-title-container {
  line-height: 1;
  height: 40px;
  padding: 0 10px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #19171c;
  display: flex; display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.game-index-list .game-index-item .review_button {
  display: flex; display: -webkit-flex;
  background: black;
}

.rating-text {
  // background: black;
}
.game-index-list .game-index-item .review_button .rating-stars {
  display: flex; display: -webkit-flex;
  background: black;
}

.empty-index-message {
  font-size: 36px;

}

a.empty-index-message:hover {
  cursor: pointer;
  color: $button-purple;
}

// Animation code taken from stack overflow. Staggered transitions by me.
// https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load
.game-index-container .game-list-item {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
            -webkit-animation-fill-mode: none; //Changed from both to initial
            animation-fill-mode: none; /*Changed from both to initial */
            -webkit-backface-visibility: hidden;
            // z-index: -10;


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyeframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 1200px) and (min-width: 650px) {
  .game-index-container .game-list-item {
    width: 30%;
    min-width: 150px;
    max-width: 240px;
    height: inherit;
    display: flex; display: -webkit-flex;
    flex-direction: column;
    margin-right: 2.5%;



  }
}

@media screen and (max-width: 650px) {
  .game-index-container .game-list-item {
    width: 100%;
    height: inherit;
    display: flex; display: -webkit-flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;

  }
}
