nav {
  position: fixed;
  background: $purple-main;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  padding-top: 500px;

  top: -500px;
  left: -100px;
  right: -100px;
  width: 100%;
  z-index: 1000;
}

.left-nav {
  display: flex;
  align-items: center;
  height: 50px;
}
.logo span:first-child {

  font-size: 24px;
  color: #fff;
  font-weight: 300;
}
.logo span:last-child {
  // margin-left: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: 350;
}

a.logo {
  background: $purple-main;
  padding: 0 15px;
}

.svg.svg-inline--fa.fa-github-square.fa-w-14 {
  font-size: 30px;
  background: black;
}

.svg.svg-inline--fa.fa-linkedin.fa-w-14 {
  min-width: 30px;
}

.nav-button-list {
  display: flex;
  width: 400px;
}

.nav-button-list li a {
  font-size: 14px;
  color: #b8b5c0;
  padding: 0 15px;
  height: 50px;
  display: flex;
  align-items: center;


}

.nav-button-list li a:hover {
  color: #fff;
  text-decoration: underline;
}

.search-container {
  background: #fff;
  height: 30px;
  width: 400px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px 0 $border-purple, inset 0 0 0 1px $border-purple;
  box-sizing: border-box;
}

.search {
  line-height: 1;
  margin-top: 1px;
  z-index: 0;
  color: #aaa;
}

.search-container i{
  font-size: 14px;
  color: #777;

}

.icon-div {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  position: relative

}

.search-container input {
  width: 350px;

  height: 28px;
  z-index: 1;
}

.search-container input.white {
  background: #fff;
}

.session-controls div {
  display: flex;
  align-items: center;

}

.session-controls div {

  width: 240px;
}

.session-controls {
  height: 50px;
  display: flex;
  align-items: center;
  // justify-content: flex-end;
}



.user-info {
  width: 220px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  // box-sizing: border-box;
  // justify-content: flex-end;
}

.user-info:focus {
  border: 1px solid $purple-main;
}

.user-info:hover {
  cursor: pointer;
}

.user-info i {
  color: #b8b5c0;
  font-size: 20px;
}

.user-info img {
  width: 30px;
  height: 30px;
}


.user-info span {
  font-size: 14px;
  position: relative;
  color: $background-gray;
  padding: 10px;
}

.user-info button span {
  line-height: 1;
  color: #b8b5c0;
}

.user-info button{
  // margin: 0 20px;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 20px;
  width: 100%;

  // right: 0px;
  // line-height: 1;
  // transition: 4s;


}

.user-info button:hover {
  cursor: pointer;
}

.user-info .user-dropdown {
  top: 550px;
  position: absolute;
  // height: 1000px;
  background: $background-dark-purple;
  transition: height .2s ease-out;
  height: 50px;
  z-index: 3;

}
// .user-dropdown.active {
//   transition: height 2s ease-out;
//   height: 50px;
//
// }
.user-dropdown.hidden {
  top: 550px;
	height: 0px;
	overflow: hidden;
  // transition: height 2s ease-out;
  li {
    height: 0px;
  }

}

.user-info li{
  display: flex;
  align-items: center;
  line-height: 1;
  height: 50px;
  width: 240px;
  // padding: 10px 0;
  transition: height .2s ease-out;
}

.user-info button:hover {
  background: $purple-main;
  cursor: pointer;
}
