.review {
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  width: 765px;
  // box-sizing: border-box;
  padding: 20px;
  // padding-left: 80px;
  padding-left: 100px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}

.review-profile-image {
  width: 60px;
  position: absolute;
  top: 20px;
  // left: -75px;
  left: 20px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);

}

.review-container-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-purple;
  width: 765px;
}

@media screen and (max-width: 500px) {
  .review {
    width: inherit;
  }

  .review-container-title {
    width: inherit;
  }

  .rated-it {
    display: none;
  }

  .review-date {
    display: none;
  }

  .review-body {
    max-height: 200px;
    overflow: scroll;
  }
}

.review-heading {
  display: flex; display: -webkit-flex;
  justify-content: space-between;
}
.review-heading-left {
  display: flex; display: -webkit-flex;
  align-items: flex-end;
  font-size: 18px;
  margin-bottom: 10px;
}

.review-date {
  font-size: 18px;
  color: #ccc;
  white-space: nowrap;

}

.review .score-stars {
  margin-left: 5px;
}

.review-username {
  margin-right: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.review-username:hover {
  color: $border-purple;
}

.review-body {
  font-size: 16px;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.review-controls {
  display: flex; display: -webkit-flex;
  margin-right: 20px;
  font-size: 14px;
  height: 28px;
}
