.session-form-background {
  background: rgba(23,20,31,.6);
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  position: fixed;
  display: flex; display: -webkit-flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;

}

.session-form-modal {
  z-index: 101;
  background: #fff;
  // margin: 20px auto;
  width: 380px;
  padding: 30px 20px;


}



div.logo-container {
  display: flex; display: -webkit-flex;
  align-items: center;
  // justify-content: center;
  margin-bottom: 30px;
  // display: none
}

div.logo {
  background: $button-purple;
  padding: 10px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
div.logo:hover {
  cursor: default;
}

.tabs {
  display: flex; display: -webkit-flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tabs li {
  margin-right: 20px;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: -1px;
}

.tabs li span {
  color: $button-purple;
}

.tabs li span:hover {
  cursor: pointer;
}

.tabs li:hover {
  border-bottom: 1px solid $button-purple;
  color: $purple-main;
  cursor: pointer;

}

.tabs li.target {
  border-bottom: 1px solid $button-purple;

}

.session-form-modal label {
  color: #6e6779;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.tabs li.target span {
  color: #444;
}

.session-form-modal input {
  border: 1px solid $button-purple;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  color: #6e6779;
  margin-bottom: 10px;
}

.session-form-modal input:focus {
  border: 1px solid #bbb;
  border: 1px solid $border-purple;

  box-shadow: inset 0 0 0 0.5px $border-purple;

}

// .session-form-modal .btn {
//   font-size: 14px;
//   line-height: 1;
//   padding: 0 10px;
// }
//
// .session-form-modal .btn.demo {
//   margin-right: 20px;
// }

.session-form-modal .submit-container {
  margin-top: 20px;
  border-top: 1px solid #dad8de;
  padding-top: 20px;
  display: flex; display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.session-form-background .close-form-button a{
  color: #fff;
  margin-left: 5px;
  font-size: 20px;
  height: 28px;
  width: 28px;
  display: flex; display: -webkit-flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
}

.session-form-background .close-form-button a:hover {
  background: rgba(75,54,124,0.4);

  z-index: 100;
}

@media screen and (max-width: 500px) {
  .session-form-modal {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .session-form-background .close-form-button a {
    display: none;
  }

  .session-form-background {
    background: rgba(0,0,0,0);

  }

}

.error-container {
    background: #ffe6e6;
    color: #c86e6e;
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid #f5c8c8;
}
.error-container li {
  color: #c86e6e;
  margin: 5px 0;
}
