.side-bar {
  width: 200px;
  top: 50px;
  left: 0px;
  bottom: 0px;
  // height: calc(100vh);
  height: calc(100% - 50px);
  background: #19171c;
  position: fixed;
  padding: 10px;
  // padding-top: 60px;
}

.side-bar-collections {
  color: #b8b5c0;
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid #2c2541;
}
