.show-plus-streams {
  display: flex; display: -webkit-flex;
}

.stream-display-list {
  width: 480px;

  margin-top: 30px;
  margin-left: 50px;


}

.stream-header {
  font-size: 28px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid $border-purple;
  width: 480px;

}

.twitch-list-item {
  background: white;

  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  margin-bottom: 30px;
  width: 480px;

}

.stream-information {
  padding: 10px 20px;
}

.display-name {
  margin-right: 20px;
}

.twitch-list-item span {

  font-size: 16px;
}

.channel-label {
  font-weight: 700
}

.no-stream-text {
  font-size: 24px;
}

.no-stream-link {
  color: $button-purple;
}

.no-stream-link:hover {
  color: $border-purple;
}

@media screen and (max-width: 1600px) {
  .show-plus-streams {
    display: block;
  }

  .stream-display-list {
    margin-top: 0px;
    
  }
}

@media screen and (max-width: 650px) {

  .stream-display-list {
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
    box-sizing: border-box;
  }

  .stream-header {
    width: 100%;
  }

  .twitch-list-item {
    width: 100%;
  }


}
