


.user-profile-container {
  padding: 30px;
  width: 80%;
}

.user-profile-header {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $button-purple;
}

.user-profile-information {
  width: 100%;
  max-width: 725px;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 30px;
  display: flex; display: -webkit-flex;

}

.profile-info-left {
  width: 20%;
  min-width: 150px;

  // display: flex; display: -webkit-flex;
  // flex-direction: column;
  // align-items: center;
}

.add-friend {
  margin: 0 auto;
}

.profile-image {
  width: 100%;
  margin-bottom: 20px;
}

.profile-details {
  padding-left: 30px;
}

.profile-summary {
  margin-bottom: 20px;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;

}

.profile-description {
  font-size: 16px;

}

.collection-index-container {
  // padding: 30px;
  width: 100%;
  // max-width: 865px;

}

.collection-index-header {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $button-purple;
}

.collection-row-header {
  font-size: 24px;
  padding-bottom: 10px;
  // margin-bottom: 20px;
  // border-bottom: 1px solid $button-purple;

}

.collection-row-header a:hover {
  color: $border-purple;
}

.collection-game-ribbon {
  display: flex; display: -webkit-flex;
  width: 100%;
  min-height: 12vw;
  // margin-left: 10px;
  // overflow-x: scroll;
  // height: 200px;
  // padding-bottom: 10px;

  margin-bottom: 20px;

}

.collection-game-ribbon .mini-game {
  // height: 200px;
  // width: 150px;
  width: 12vw;

  // height: 16vw;
  min-width: 100px;
  margin-right: 10px;
  margin-bottom: 0px;
  position: relative;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  height: 100%;

}

.collection-game-ribbon .mini-game {
  // transform: scale(1.0);
}

.collection-game-ribbon .mini-game-title {
  display: none;
}

.collection-game-ribbon .mini-game:hover .mini-game-title {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  // white-space: nowrap;
  font-size: 18px;
  text-align: center;
  z-index: 100;
  // height: 30px;
  // padding-top: 170px;
}

.elipses-button {
  display: flex; display: -webkit-flex;
  align-items:center;
  font-size: 1.15vw;
  color: $button-purple;
  margin-left: 1vw;
  width: 100px

}

.elipses-button:hover {
  color: $border-purple;
}

.collection-game-ribbon .mini-game-title {
}

.review-index-container {
  // padding: 30px;
  width: 100%
}

.review-index-header {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $button-purple;
}

.user-review-username {
  margin-right: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.game-link {
  margin-left: 5px;
  white-space: nowrap;
}

.user-review {
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 2px 2px -2px rgba(0,0,0,.02),0 1px 4px 0 rgba(0,0,0,.04);
  width: 765px;
  // box-sizing: border-box;
  padding: 20px;
  // padding-left: 80px;
  // padding-left: 100px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}
