

.collection-game-ribbon {
  display: flex;
  width: 80%;
  overflow-x: scroll;
  height: 100%;
  padding-bottom: 10px;
}

.collection-game-ribbon .mini-game {
  height: 100%;
  width: 100px;
  min-width: 100px;
  margin-right: 0px;
}

.collection-game-ribbon .mini-game-title {
  display: none;
}

.collection-game-ribbon .mini-game-title {
}
